<form action="/posts" method="POST">
  <button type="submit" class="btn btn-success">Publish</button><br />
  <section id="create">
    <input type="text" name="title" placeholder="Title" id="title"><br />
    <textarea rows="20" type="text" name="content" placeholder="Tell your story..." id="content"></textarea>
  </section>
</form>