<section id="edit">
  <form action="/users/{{{user.id}}}?_method=PUT" method="POST" id="edit-form">
    <div class="row">
      <div class="col-9">
        <input type="text" name="name" class="form-control" id="name" value={{{user.name}}}
          placeholder="Enter your name">
        <textarea type="text" name="introduction" class="form-control" id="introduction" value={{{user.introduction}}}
          placeholder="Enter a short bio">{{{user.introduction}}}</textarea>
      </div>
      <div class="col-3">
        <img src="https://fakeimg.pl/100x100/" class="rounded-circle" alt="avatar">
      </div>
    </div>
    <div>
      <span>Following</span> <span>Followers</span>
    </div>
    <button type="submit" class="btn btn-success">Save</button>
    <a href="#" class="btn btn-secondary">Cancel</a>
  </form>
</section>