i {
  font-size: 25px;
}
.icon {
  width: 25px;
  height: 25px;
  display: inline-block;
}
.icon-clap {
  background-image: url(../icons/clap.svg);
}
.icon-clapped {
  background-image: url(../icons/clap-hands.svg);
}
button,
input[type='submit'],
input[type='reset'] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

.alert-success,
.alert-danger {
  margin: 30px 0;
}

.container {
  #navbar {
    height: 65px;
  }
}

.container {
  #navbar {
    .col-left {
      width: 211px;
    }
  }
}

#profile {
  max-width: 728px;
  padding: 0 24px;
  margin: 0 auto;
  #intro {
    margin-bottom: 30px;
    #avatar {
      width: 128px;
      height: 128px;
    }
  }
  #category {
    a {
      margin-right: 20px;
    }
  }
  #posts {
    .card {
      #info {
        display: flex;
        #image img {
          width: 48px;
          height: 48px;
        }
      }
      #buttons {
        display: flex;
        justify-content: space-between;
      }
    }
  }
}

#edit {
  #edit-form {
    padding: 20px 30px;
    margin: 0 auto;
    max-width: 640px;
  }
}

#post {
  max-width: 680px;
  margin: 0 auto;
  #user {
    display: flex;
    justify-content: space-between;
    #info {
      display: flex;
      div {
        display: inline;
      }
      #image img {
        width: 48px;
        height: 48px;
      }
    }
    #link {
      display: flex;
      justify-content: space-between;
      align-self: flex-end;
      width: 130px;
    }
  }
}

#create {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 20px;
  #title {
    width: 100%;
    font-size: 64px;
  }
  #content {
    width: 100%;
    font-size: 20px;
  }
}
